<div class="news-feed">
    <div *ngFor="let newsItem of newsItems" class="news-item">
        <div class="news-header">
            <img [src]="newsItem.foto" alt="User Photo">
            <div class="user-details">
                <h3>{{ newsItem.nome }}</h3>
                <p>{{ newsItem.dataDeCadastro | date: 'medium' }}</p>
            </div>
        </div>
        <div class="news-content">
            <p>{{ newsItem.descricao }}</p>
            <img *ngIf="newsItem.imagem" [src]="newsItem.imagem" alt="News Image">
        </div>
        <div class="news-footer">
            <button (click)="likeNews(newsItem)">Like</button>
            <span>{{ newsItem.curtidas }} likes</span>
        </div>
    </div>
</div>